* {
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  margin: 0;
  min-height: 100vh;
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.overlay {
  background: rgba(0, 0, 0, 0.55);
  padding: 30px;
  border-radius: 20px;
  width: 100%;
  max-width: 420px;
  text-align: center;
  box-shadow: 0 10px 30px rgba(0,0,0,0.5);
}

h1 {
  font-size: 1.8rem;
}

.names {
  font-size: 1.3rem;
  margin-bottom: 20px;
}

.time-box {
  margin: 15px 0;
  padding: 15px;
  border-radius: 15px;
  background: rgba(255,255,255,0.1);
}

.time {
  font-size: 1.1rem;
}

.inputs {
  margin-top: 20px;
  text-align: left;
}

.checkbox {
  margin: 10px 0;
  display: block;
}

input, button {
  width: 100%;
  padding: 8px;
  margin: 5px 0 12px;
  border-radius: 8px;
  border: none;
}

button {
  background: #ff4d6d;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
}

button:hover {
  background: #ff2f55;
}

.hidden {
  display: none;
}

:modal{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.75);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal-content {
  background: #222;
  padding: 25px;
  border-radius: 18px;
  text-align: center;
  color: #867e7e;
  max-width: 360px;
  width: 90%;
}

.modal-content h2 {
  margin-top: 0;
  text-align: center;
}

.modal-content button {
  display: flex;
  gap: 10px;
  margin-top:20px;
}

.modal-buttons {
  flex: 1;
}

button-secundary {
  background: #555;
}
